# Ignore configuration files that may contain sensitive information.
#docroot/sites/*/settings*.php
#docroot/sites/default/settings.php


# Ignore paths that contain user-generated content.
acquia-files
docroot/files
docroot/sites/*/files
docroot/sites/*/private

.DS_Store
.ftpquota

# Phpstorm
.idea

# Local SCSS/Compass configurations
docroot/profiles/wetkit/themes/wetkit_bootstrap/config.rb

docroot/profiles/wetkit/themes/wetkit_bootstrap/npm_post\.sh

docroot/sites/all/modules/contrib/coder/

docroot/sites/all/modules/contrib/grammar_parser/

docroot/sites/all/modules/contrib/grammar_parser_lib/
docroot/profiles/wetkit/modules/contrib/jquery_update/replace/jquery/3.2.0/

docroot/sites/default/settings\.php
