# Ignore configuration files that may contain sensitive information.
 sites/*/settings*.php
 sites/default/settings.php


# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Phpstorm
.idea

# Local SCSS/Compass configurations
profiles/wetkit/themes/wetkit_bootstrap/config.rb
